name: SynapseLib Examples

on:
  push:
    branches: [main]
    paths:
      - "examples/**"
  pull_request:
    paths:
      - "examples/**"

jobs:
  build_robot_example:
    name: Build Robot - ${{ matrix.example }}
    runs-on: ubuntu-22.04
    container: wpilib/roborio-cross-ubuntu:2025-22.04
    strategy:
      matrix:
        example: [aimAtTarget]
    steps:
      - uses: actions/checkout@v4
      - name: Add repository to git safe directories
        run: git config --global --add safe.directory $GITHUB_WORKSPACE
      - name: Grant execute permission for gradlew
        working-directory: examples/robotproject
        run: chmod +x gradlew
      - name: Build with example
        working-directory: examples/robotproject
        run: ./gradlew build -Pexample=${{ matrix.example }}
      - name: Spotless Check
        working-directory: examples/robotproject
        run: ./gradlew spotlessCheck

  build_synapse:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install SynapseFRC and tools
        run: pip install synapsefrc pyright ruff
      - name: Type-check Synapse project
        working-directory: examples/synapseproject
        run: pyright .
      - name: Ruff Lint Synapse project
        working-directory: examples/synapseproject
        run: ruff check .
